.news_item {
    width: 397.33px;
    height: 438px;
    padding: 10px;
    background-color: #010614;
    border: 1px solid #242424;
    border-radius: 20px;
}

.news_item_date {
    margin-top: 14px;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #FDFDFD;
}

.news_item_title {
    margin-top: 8px;
    font-family: "Cormorant Garamond", serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 115%;
    color: #FDFDFD;
}

.news_item_desc {
    height: 44px;
    overflow: hidden;
    margin-top: 16px;
    font-size: 14px;
    line-height: 22px;
    color: #EDEDED;
}