.faq_item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 16px;
}

.faq_item_question {
     font-family: "Cormorant Garamond", serif;
     font-weight: 600;
     font-size: 32px;
     line-height: 115%;
     color: #FDFDFD;
}

.faq_item_answer {
    margin-top: 12px;
    font-size: 16px;
    line-height: 24px;
    color: #EDEDED;
}

.faq_item_btn {
    display: block;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.d_n {
    display: none;
}