.reservation-main {
    margin-top: -101px;
    padding-top: 224.26px;
    padding-bottom: 161.26px;
    background: url("/public/images/reservation-main-bg.png") no-repeat;
    text-align: center;
}

.reservation-main-title {
    margin-top: 12.11px;
    font-family: "Cormorant Garamond", serif;
    font-weight: 600;
    font-size: 58px;
    line-height: 115%;
    color: #FDFDFD;
}

.reservation-main-desc {
    width: 740px;
    margin: 16px auto 0;
    font-size: 18px;
    line-height: 26px;
    color: #EDEDED;
}