.story-main {
    margin-top: -101px;
    padding-top: 237.26px;
    padding-bottom: 174.26px;
    background: url("/images/story-main-bg.png") no-repeat;
    text-align: center;
}

.story-main-title {
    margin-top: 16px;
    font-family: "Cormorant Garamond", serif;
    font-weight: 600;
    font-size: 58px;
    line-height: 115%;
    color: #FDFDFD;
}

.story-main-desc {
    width: 720px;
    margin: 16px auto 0;
    font-size: 18px;
    line-height: 26px;
    color: #EDEDED;
}

.story-about {
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
}

.story-about-title {
    width: 330px;
    font-family: "Cormorant Garamond", serif;
    font-weight: 600;
    font-size: 48px;
    line-height: 115%;
    color: #FDFDFD;
}

.story-about-text {
    width: 830px;
    flex-direction: column;
    gap: 32px;
}

.story-about-desc {
    font-size: 18px;
    line-height: 26px;
    color: #EDEDED;
}

.story-about-stats {
    margin-top: 32px;
    gap: 32px;

    dl {
        width: 255.33px;
        border-right: 1px solid rgba(237, 237, 237, 0.1);

        dt {
            font-family: "Cormorant Garamond", serif;
            font-weight: 600;
            font-size: 48px;
            line-height: 115%;
            color: #F4C73F;
        }

        dd {
            margin-top: 8px;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: #FDFDFD;
        }

        &:last-child {
            border: none;
        }
    }
}

.story-about-images {
    margin-top: 56px;
    gap: 16px;
}

.story-team {
    margin-top: 200px;
    margin-left: 100px;
    margin-right: 100px;
}

.story-team-title {
    width: 592px;
    font-family: "Cormorant Garamond", serif;
    font-weight: 600;
    font-size: 58px;
    line-height: 115%;
    color: #FDFDFD;
}

.story-team-desc {
    width: 560px;
    font-size: 18px;
    line-height: 26px;
    color: #D7D7D7;
}

.story-team-box {
    margin-top: 56px;
    flex-wrap: wrap;
    row-gap: 24px;
    column-gap: 24px;
}

.story-cta {
    margin-top: 156px;
    margin-bottom: 56px;
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 56px;
    padding-bottom: 56px;
    padding-left: 56px;
    background-color: #010614;
    border-radius: 24px;
}

.story-cta-title {
    width: 550px;
    font-family: "Cormorant Garamond", serif;
    font-weight: 600;
    font-size: 58px;
    line-height: 115%;
    color: #FDFDFD;
}

.story-cta-desc {
    width: 550px;
    margin-top: 24px;
    font-size: 16px;
    line-height: 24px;
    color: #FDFDFD;
}

.story-cta-link {
    display: block;
    width: 162px;
    margin-top: 32px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 22px;
    background: #F4C73F url("/images/arrow1.png") no-repeat 124px;
    border-radius: 24px;
    font-weight: 500;
    font-size: 18px;
    color: #151515;
}